body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(241, 232, 213);
    background-image: url('../../public/img/bg-bodega.jpg');
    background-size: cover;
}

/* NAVBAR */

.navbar {
    background-color: rgb(94, 11, 11);
    color: #f1f1f1;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #6c757d;
    color: #ffffff;
}

.dropdown-menu .dropdown-item:active {
    background-color: #212529;
    color: #ffffff;
}

/* TITLES */
.title-custom{
    background-color: rgb(94, 11, 11);
    color: #f1f1f1;
}

/* PAGINATION */

.pagination .page-link {
    border-color: rgb(75, 46, 14);

}
.pagination .page-item .page-link{
    color: black;
}

.pagination .page-item .page-link{
    color: black;
}
.pagination .page-item .page-link:focus{
    color: black;
    box-shadow: 0 0 0 2px rgb(223, 223, 223);
    border-radius: 5px;
}

.pagination .active .page-link {
    background-color: rgb(94, 11, 11);
    color: white;
}

.pagination-custom p {
    margin-bottom: 0px;
}


/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(94, 11, 11);
    color: white;
}


/* ALERTS */

.custom-alert {
    background-color: rgb(94, 11, 11);
    color: #f1f1f1;
}

/* CARDS */

.card-header {
    background-color: rgb(94, 11, 11);
    color: white;
}

.card-body {
    background-color: rgb(128, 117, 94);
    color: white;
}

.card-body label {
    font-weight: 500;
}

.card-body a {
    color: rgb(83, 14, 14);
}

.card-body a:hover {
    color: rgb(89, 95, 10);
}

/* CHECKOUT/ORDER */
.form-check-input:checked {
    background-color: black;
    /* Cambia el color del círculo a negro */
    border-color: black;
    box-shadow: 0 0 0 4px rgb(223, 223, 223);
    /* Cambia el color del glow a rojo */
}

.form-check-input:active {
    /* Estilos que deseas aplicar cuando el radio está activamente siendo pulsado */
    box-shadow: 0 0 0 4px rgb(223, 223, 223);
    /* Por ejemplo, cambia el color de fondo a azul */
    border-color: grey;
}

.form-check-input:focus {
    /* Estilos que deseas aplicar cuando el radio está activamente siendo pulsado */
    box-shadow: 0 0 0 4px rgb(223, 223, 223);
    /* Por ejemplo, cambia el color de fondo a azul */
    border-color: grey;
}

/* VISTA ADD - ADMIN */

#add-blade-alert {
    padding-right: 16px;
}

/* FOCUS FORM-CONTROL,SELECT */

.form-control:focus, .form-select:focus {
    border-color: rgb(75, 46, 14);
    /* Cambiar el color del borde */
    background-color: rgb(218, 216, 208);
    /* Cambiar el color del fondo */
    box-shadow: 0 0 5px rgb(148, 148, 130);
}